body{
	background: linear-gradient(to right, rgb(207, 189, 227), rgb(142, 144, 213));
}

.h1 {
	font-size: 42px;
	color: #000;
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	width: 378px;
}

.h1-wider {
	font-size: 42px;
	color: #000;
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	width: 800px;
}

input[type="submit"] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	margin: 4px 0px;
	cursor: pointer;
}

.h2 {
	font-size: 34px;
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	margin-bottom: 8px;
}

.h3 {
	font-size: 24px;
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	margin-bottom: 8px;
}

.h4 {
	font-size: 20px;
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	margin-bottom: 8px;
}

.h4-link {
	font-size: 23px;
	color: #5863F8;
	text-decoration: underline;
	text-decoration-color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.h4-link-2 {
	letter-spacing: 1px;
	font-size: 23px;
	color: #5863F8;
	text-decoration: underline;
	text-decoration-color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.main-div {
	width: 1088px;
	margin: 0 auto;
	margin-top: 85px;
}

.big-title {
	font-size: 50px;
	letter-spacing: 1px;
	-webkit-border-vertical-spacing: 5px;
	color: #000;
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	width: 378px;
}

.profile-name {
	font-size: 60px;
	color: #5863F8;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	width: 700px;
}

.form-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.error-text {
	font-size: 20px;
	color: #f63030;
}

.auction {

	display: block;
	width: 350px;
	margin-right: 40px;
	margin-bottom: 40px;
	float: left;
	padding: 3px;
	border: 5px solid black;
	border-width: 3px;
	background: #e6dcea;
}

.review {
	display: block;
	width: 350px;
	margin-right: 40px;
	margin-bottom: 40px;
	float: left;
	padding: 3px;
	border: 5px solid black;
	border-width: 3px;
	background: #e6dcea;
}


.input-1 {
	width: 352px;
	height: 60px;
	font-size: 18px;
	color: #737373;
	background-color: #F8F8F8;
	border: 2px solid #E8E8E8;
	vertical-align: center;
	padding-left: 20px;
	font-family: 'Poppins', sans-serif;
}

.input-2 {
	width: 450px;
	height: 45px;
	font-size: 18px;
	color: #737373;
	background-color: #F8F8F8;
	border: 2px solid #E8E8E8;
	vertical-align: center;
	padding-left: 20px;
	font-family: 'Poppins', sans-serif;
}

.input-empty-box {
	width: 150px;
	height: 24px;
	font-size: 15px;
	color: #737373;
	background-color: #e6dcea;
	border: 2px solid black;
	vertical-align: center;
	padding-left: 2px;
	font-family: 'Poppins', sans-serif;
}
.input-single-digit {
	width: 50px;
	height: 24px;
	font-size: 15px;
	color: #737373;
	background-color: #e6dcea;
	border: 2px solid black;
	vertical-align: center;
	padding-left: 2px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10px;
}

.input-item-description {
	width: 320px;
	height: 200px;
	font-size: 15px;
	color: #737373;
	background-color: #e6dcea;
	border: 2px solid black;
	vertical-align: center;
	padding-left: 2px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 5px;
}

.button-login {
	width: 352px;
	height: 60px;
	background-color: #5863F8;
	color: #fff;
	border: none;
	font-size: 25px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	transition: background-color 300ms ease-out 50ms, color 300ms, font-size 300ms;
}

.button-create-account {
	width: 450px;
	height: 60px;
	background-color: #5863F8;
	color: #fff;
	border: none;
	font-size: 25px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	transition: background-color 300ms ease-out 50ms, color 300ms, font-size 300ms;
}

.button-login:hover {
	background-color: #ffffff;
	color: #5863F8;
	font-size: 27px;
}

.button-create-account:hover {
	background-color: #ffffff;
	color: #5863F8;
	font-size: 30px;
}

.form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.list-a {
	list-style-type: none;
	line-height: 1.5;
}

.label-1 {
	letter-spacing: 1px;
	opacity: 0.7;
	font-size: 24px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
}

.label-2 {
	font-size: 24px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
}

.label-2-blue {
	font-size: 16px;
	color: #725cef;
	font-family: 'Poppins', sans-serif;
}

.label-2-black {
	font-size: 16px;
	color: #070404;
	font-family: 'Poppins', sans-serif;
}

.score-text {
	font-size: 24px;
	color: #48d05c;
	font-family: 'Poppins', sans-serif;
}

::placeholder {
	color: #CECECE;
	opacity: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}
#container {
	width: 240px;
	overflow: hidden;
	background-color: yellow;
}
#content {
	position: relative;
	height: 30em;

	-moz-column-width: 240px;
	-webkit-column-width: 240px;
	column-width: 240px;

	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
	column-gap: 10px;
}

#container {
	width: 240px;
	overflow: hidden;
	background-color: yellow;
}
#content {
	position: relative;
	height: 30em;

	-moz-column-width: 240px;
	-webkit-column-width: 240px;
	column-width: 240px;

	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
	column-gap: 10px;
}


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
}
.rate:not(:checked) > label {
	float:right;
	width:1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:30px;
	color:#ccc;
}
.rate:not(:checked) > label:before {
	content: '★ ';
}
.rate > input:checked ~ label {
	color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}
